<nav class="navbar navbar-dark bg-dark p-3">
  <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 flex-wrap mb-lg-0  flex-md-nowrap justify-content-between">
    <a href="/" class="navbar-brand">Home</a>
  </div>
  <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
    <div class="dropdown me-5">
      <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown">Witaj, {{firstName}}</button>
      <ul class="dropdown-menu">
        <li>
          <a href="/dashboard" class="dropdown-item"><i class="bi bi-calendar"></i> Dashboard</a>
        </li>
        <li>
          <a href="/addSubject" class="dropdown-item"><i class="bi bi-plus-circle"></i> Dodaj przedmiot</a>
        </li>
        <li>
          <a href="/addGrade" class="dropdown-item"><i class="bi bi-file-plus"></i> Dodaj ocenę</a>
        </li>
        <li>
          <a href="" class="dropdown-item"><i class="bi bi-diagram-2"></i> Przedmioty</a>
        </li>
        <li>
          <a href="" class="dropdown-item"><i class="bi bi-123"></i> Oceny</a>
        </li>
        <li>
          <a href="" class="dropdown-item"><i class="bi bi-bar-chart-line-fill"></i> Średnia</a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
          <a href="/logOut" class="dropdown-item"><i class="bi bi-lock"></i> Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>